#!upstart

description "Direct E-mail to HTTP Grabber"
author      "Josh Mandel"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

setuid direct
setgid direct

env PROGRESS_DIR=/home/direct/ccda-receiver-direct-connector.progress
env SOURCE_DIR=/home/direct/direct/james-2.3.2/bin/incomings
env HTTP_HOST=http://abbi.smartplatforms.org/internal/addPatient/

script

    chdir /home/direct/ccda-receiver-direct-connector
    exec node launch.js

end script
