upstream ccda-receiver {
    server 127.0.0.1:3000;
}

upstream ccda-receiver-apps {
    server 127.0.0.1:3001;
}


# the nginx server instance
server {
    listen 0.0.0.0:80;
    server_name abbi.smartplatforms.org ;
    access_log /var/log/nginx/ccda-receiver.log;

    location /apps {
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_set_header X-NginX-Proxy true;

      proxy_pass http://ccda-receiver-apps;
      proxy_redirect off;
    }

    location / {
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_set_header X-NginX-Proxy true;

      proxy_pass http://ccda-receiver;
      proxy_redirect off;
    }
 }

