        [ req ]
        default_bits           = 1024
        default_keyfile        = rsa-key.pem
        distinguished_name     = req_distinguished_name
        prompt                 = no

        dirstring_type = nobmp

        [ req_distinguished_name ]
	{% if certificate['country'] %}
	countryName                    = {{ certificate['country'] }} 
	{% endif %}
	{% if certificate['city'] %}
        localityName                   = {{ certificate['city'] }} 
	{% endif %}
	{% if certificate['organization'] %}
        organizationalUnitName         = {{ certificate['organization'] }} 
	{% endif %}
        commonName                     = {{ direct_domain_name }} 
        emailAddress                   = {{ direct_domain_name }}
