description "DNS Server"
 
  start on runlevel [2345]
  stop on runlevel [!2345]
  respawn
  respawn limit 10 5
 
  exec /opt/direct/DirectDNSServices/DirectDNSServer/bin/wrapper-linux-x86-64 \
       /opt/direct/DirectDNSServices/DirectDNSServer/conf/wrapper.conf 
